@import "blueprint/typography";
@import "compass/typography";

// Typography defaults
$base-font-size: 13px;
$blueprint-font-size: 13px;
$base-line-height: $base-font-size * 1.5;
@include blueprint-typography();
@include establish-baseline();

a {
  @include hover-link();
  font-weight: bold;
}

h1,h2,h3,h4,h5, #navigation {
  text-rendering: optimizeLegibility;
}
